{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
   <link rel="stylesheet" href="{% static 'css/new.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="brand">
                <img class="abc" src="{% static 'image/DotBlog_domain_logo-removebg-preview.png' %}" alt="">
            </div>
            
            <nav class="nav-menu">
              <a href="/Dashboard" class="active"><i class="fa fa-list"></i>
                <h5>Manage Category</h5>
              </a>
              <a href="/addpost"><i class="fa fa-add"></i>
                <h5>Add Post</h5>
              </a>
              <a href="/manage-post"><i class="fa fa-pen"></i>
                <h5>Manage Post</h5>
              </a>
              <a href="/register"><i class="fa fa-user-plus"></i>
                <h5>Add User</h5>
              </a>
              <a href="/add-category"><i class="fa fa-list-alt"></i>
                <h5>Add Category</h5>
              </a>
              <a href="/profile"><i class="fa fa-users"></i>
                <h5>Profile</h5>
              </a>
              <a href="/gellary"><i class="fa fa-picture-o"></i>
                <h5>Gallery</h5>
              </a>
              <a href="/blog"><i class="fa fa-home"></i>
                <h5>Home</h5>
              </a>
              <a href="/about/#section3"><i class="fa fa-address-book"></i>
                <h5>Contact</h5>
              </a>
            </nav>

        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <header class="top-bar">
                <div class="breadcrumb">  </div>
              
                <div class="user-profile">
                    <span class="user-name">{{user}}</span>
                    {% if user.is_authenticated %}
                    <a href="/logout" style="color: #ef4444;text-decoration: none;"   ><span>🏃🚪</span>logout </a>
                    {% else %}
                    <a href="#" style="color: #ef4444;"> <span>🚪</span> Sign Out </a>
                    {% endif %}
                   
                    {% if user.is_authenticated %}
                    <img src="{{user.profile.image.url}}" alt="Profile" class="avatar">
                    {% endif %}
                </div>
            </header>

            <section class="growth-section">
                <div class="section-header">
                    <h2>Manage Category</h2>
                </div>
                <table>
                    <thead>
                      <tr>
                        <th>Categorys</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in cat %}
                      <tr>
                        <td>{{i.name}}</td>
                        <td><a href="/editcategory/{{i.id}}"> <button class="buttons"> Edit </button> </a></td>
          
                        <td><a href="/deletecategory/{{i.id}}"><button class="bin-button">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 39 7" class="bin-top">
                                <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                                <line stroke-width="3" stroke="white" y2="1.5" x2="26.0357" y1="1.5" x1="12"></line>
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 33 39" class="bin-bottom">
                                <mask fill="white" id="path-1-inside-1_8_19">
                                  <path d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"></path>
                                </mask>
                                <path mask="url(#path-1-inside-1_8_19)" fill="white"
                                  d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z">
                                </path>
                                <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                                <path stroke-width="4" stroke="white" d="M21 6V29"></path>
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 89 80" class="garbage">
                                <path fill="white"
                                  d="M20.5 10.5L37.5 15.5L42.5 11.5L51.5 12.5L68.75 0L72 11.5L79.5 12.5H88.5L87 22L68.75 31.5L75.5066 25L86 26L87 35.5L77.5 48L70.5 49.5L80 50L77.5 71.5L63.5 58.5L53.5 68.5L65.5 70.5L45.5 73L35.5 79.5L28 67L16 63L12 51.5L0 48L16 25L22.5 17L20.5 10.5Z">
                                </path>
                              </svg>
                            </button>
          
                          </a></td>
                      </tr>
                      {% endfor %}
          
                    </tbody>
                  </table>
            </section>

            
        </main>
    </div>
    <section class="footer">
      <div class="section__container footer__container">
        <h4>.BLOG</h4>
  
        <div class="footer__socials">
          <span>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </span>
          <span>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
          </span>
          <span>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
          </span>
          <span>
            <a href="#"><i class="fa fa-instagram-square"></i></a>
          </span>
        </div>
        <p>
          This typically contains the copyright information and other legal disclaimers. You can have a simple heading
          like "Copyright" or just leave it as is.
        </p>
        <ul class="footer__nav">
          <li class="footer__link"><a href="/privacy">Privacy Policy</a></li>
          <li class="footer__link"><a href="/privacy">Terms & Conditions</a></li>
          <li class="footer__link"><a href="/privacy">License </a></li>
          <li class="footer__link"><a href="/about/#section3">Contact</a></li>
        </ul>
      </div>
      <div class="footer__bar">
        Copyright © 2025 Web Design Mastery. All rights reserved.
      </div>
    </section>
    <script>
        function toggleMenu() {
            document.querySelector('.sidebar').classList.toggle('active');
        }
    </script>
</body>
</html>