
{% extends "Dashboard.html" %}
{% load static %}
{% block contact %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
  <div class="containers" >
    {% for i in view %} 
    <div class="card" >
      <div class="card-header">
        <img src="{{i.imag.url}}" alt="" />
      </div>
      <div class="card-body">
        <span class="tag tag-pink">{{i.cate}}</span>
        <h4>{{i.title}}</h4>
        <p>{{i.content}}</p>
        <div class="user">
          <img src="{{i.us.profile.image.url}}" alt="" />
          <div class="user-info">
            <h5>{{i.us}}</h5>
            <small>{{i.created_at }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</main>
{% endblock %} 